@{
    ViewBag.Title = "Контакт";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Шлыков С.А.<br />
        <abbr title="Phone">P:</abbr>
        7 (915) 138-75-12
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:stas.shlyckov@ya.ru">stas.shlyckov@ya.ru</a><br />
        <strong>Phone:</strong> <a href="#">7 (915) 138-75-12</a>
    </address>
</main>