@{
    ViewBag.Title = "Домашняя страница";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Разрабатываю сайты и бизнес решения</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Ставлю искуственный интелек</h2>
            <p>
                Ставлю искусственный интелект с ноля либо на готовых
                решениях и программных продуктов, предпочтительные языки 
                python/c++ и предпочтительные технологии openCV
            </p>
            <p><a class="btn btn-outline-dark" href="https://opencv.org/">OpenCV &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Ставлю бизнес решения на основе искусственного интелекта</h2>
            <p>Предпочтительный язык программирования python.</p>
            <p><a class="btn btn-outline-dark" href="https://www.tensorflow.org/?hl=ru">tensorflow &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Ставлю бизнес решение и интеграцию</h2>
            <p>Итеграция БД, мобильное приложение 1с и другое API.</p>
            <p><a class="btn btn-outline-dark" href="https://www.android.com/">Android API &raquo;</a></p>
        </section>
    </div>
</main>